*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color1: red;
$color2: white;
$color3: rgb(184, 184, 184);
$color4: rgb(221, 221, 221);
$color5: rgba(44, 13, 180, 0.281);


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    background-color: $color4;
    padding: 1px;
  }
  
  nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  nav #n1 {
    position: sticky;
    top: 10px;
  }
  
  nav ul li {
    height: 45px;
    width: 200px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    transition: 1s;
  }
  
  nav a {
    color: $color2;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  nav ul li:hover {
    background-color: $color1;
    transition: 1s;
  }
  
  main {
    flex: 1;
    background-image: url(multimedia/fondodepantalla.png);
    background-size: cover;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .cliente {
    margin: 5px;
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
  
  .cliente img {
    margin: 10px;
    width: 250px;
    height: 250px;
  }

  .redes{
    font-size: 50px;
    color: $color2;
    letter-spacing: 20px;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.redes a{
  color: white;
}

h1{
    background-color: $color1;
    color: $color2;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
  h3 {
    background-color: $color1;
    font-family: "femme";
    font-size: 20px;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    color: $color2;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .formulario{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: $color5;
    color: white;
    font-size: 15px;
    padding: 20px;
  }
  
  footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color3;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 20px;
  }
  
  .subir{
    height: 40px;
    width: 40px;
    font-size: 35px;
    color: $color2;
    background-color: $color1;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.subir:hover{
    background-color: rgb(45, 45, 179)
}

  .muestras {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    grid-gap: 25px;
  }
  
  .muestras .box-img figure {
    width: 100%;
    height: 100%;
  }
  
  .muestras .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 5px;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 800px) {
    .muestras {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-rows: 200px;
    }
    .muestras .box-img:nth-child(1) {
      grid-column-start: span 1;
    }
  }
  @media screen and (max-width: 500px) {
    .muestras {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
    }
    .muestras .box-img img {
      height: 200px;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav ul li {
      font-size: 20px;
    }
  
    h3 {
      font-size: 12px;
      height: 170px;
      width: 500px;
    }
  
    .cliente {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 460px) {
    nav ul li {
      font-size: 16px;
    }
  
    h3 {
      font-size: 14px;
    }
  
    .cliente {
      flex-basis: calc(100% - 10px);
      max-width: calc(100% - 10px);
    }
  }
  